name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs: 
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      
      - name: Restore deps
        run: dotnet restore AccountManagement/AccountManagement.csproj
      
      - name: Build release
        run: dotnet build AccountManagement/AccountManagement.csproj --configuration Release --no-restore
      
      - name: Log in to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build Docker image
        run: |
          docker build \
          -f AccountManagement/Dockerfile \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/account-management:latest \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/account-management:${{ github.sha }} \
          .
        
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/account-management:latest \
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/account-management:${{ github.sha }}